
.card-wrapper{

}



.card{
    display:grid;
    grid-template-columns:25% 75%;
    grid-template-rows:90%;
    direction: rtl;
}


.card-image{
    grid-column:1/3;
    grid-row:1/2;
    z-index:1;
}
.details{

    color: #E9E9E9;
    grid-column:2/3;
    grid-row:1/2;
    z-index: 5;
    margin:10rem 5rem 0px 8rem;
    font-size:90%;
}


