.App {
  direction: rtl;
}
:root{

  --BLUE:#004C88;
  --orang:#F18500;
  --dark-white:#E9E9E9;
  --title:#425562;


}

*,
*::before,
*::after{
  padding:0;
  margin: 0;
  box-sizing: inherit;
}


body{
  font-family:"Kalameh-Thin.ttf","sans-serif";
  background-color:var(--dark-white);
}