body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Kalameh-Black.ttf";
  src:  local("Kalameh-Black.ttf")
  ,url("./fonts/Kalameh-Black.ttf")  format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Kalameh-Bold.ttf";
  src:  local("Kalameh-Bold.ttf")
  ,url("./fonts/Kalameh-Bold.ttf")  format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Kalameh-Regular.ttf";
  src:  local("Kalameh-Regular.ttf")
  ,url("./fonts/Kalameh-Regular.ttf")  format("truetype");
  font-style: normal;
}


@font-face {
  font-family: "Kalameh-Thin.ttf";
  src:  local("Kalameh-Thin.ttf")
  ,url("./fonts/Kalameh-Thin.ttf")  format("truetype");
  font-style: normal;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
